@tailwind base;
@tailwind components; 
@tailwind utilities;

@font-face {
    font-family: Poppin;
    src: url("/public/popin/Poppins-Regular.ttf") format("truetype");
}
html{
    font-family: 'Poppin';   
}
::-moz-selection { /* Code for Firefox */
    color: #caf1fd;
    background: #2c545c;
  }
  
  ::selection {
    color: #caf1fd;
    background: #2c545c;
  }